
body .qodef-widget-block-8f77782d .qodef-gutenberg-section {
    --qi-blocks-columns-gap: 10px;
}

body .qodef-widget-block-9844a479 .qi-block-single-image {
    text-align: left;
}

body .qodef-widget-block-1f4858aa .qodef-gutenberg-section {
    --qi-blocks-columns-gap: 10px;
}

body .qodef-widget-block-06cae122 .qi-block-single-image {
    text-align: left;
}

body .qodef-widget-block-062fe6de .qi-block-icon-with-text .qodef-m-title {
    color: rgba(0, 22, 89, 1);
    font-family: 'Yantramanav';
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    margin-top: 1px;
}

body .qodef-widget-block-062fe6de .qi-block-icon-with-text:hover .qodef-m-title {
    color: rgba(255, 94, 20, 1);
}

body .qodef-widget-block-062fe6de .qi-block-icon-with-text .qodef-m-icon-wrapper {
    margin-top: 12px;
}

body .qodef-widget-block-062fe6de .qi-block-icon-with-text .qodef-m-icon-holder {
    font-size: 17px;
    color: rgba(0, 22, 89, 1);
}

body .qodef-widget-block-062fe6de .qi-block-icon-with-text .qodef-m-icon-holder svg {
    stroke: rgba(0, 22, 89, 1);
    stroke-width: 0px;
}

body .qodef-widget-block-062fe6de .qi-block-icon-with-text .qi-block-divider:not(.qodef-separator--border-image) .qodef-m-line {
    border-style: solid;
}

body .qodef-widget-block-062fe6de .qi-block-icon-with-text .qodef-separator--border-image .qodef-m-line {
    background-size: auto;
    background-position: left;
    background-repeat: round;
}

body .qodef-widget-block-f8eb94f7.qodef-block-container {
    padding-right: 30px;
    padding-left: 30px;
}

body .qodef-widget-block-f8eb94f7 .qi-block-icon-with-text .qodef-m-title {
    color: rgba(0, 22, 89, 1);
    font-family: 'Yantramanav';
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    margin-top: 1px;
}

body .qodef-widget-block-f8eb94f7 .qi-block-icon-with-text:hover .qodef-m-title {
    color: rgba(255, 94, 20, 1);
}

body .qodef-widget-block-f8eb94f7 .qi-block-icon-with-text .qodef-m-icon-wrapper {
    margin-top: 12px;
}

body .qodef-widget-block-f8eb94f7 .qi-block-icon-with-text .qodef-m-icon-holder {
    font-size: 17px;
    color: rgba(0, 22, 89, 1);
}

body .qodef-widget-block-f8eb94f7 .qi-block-icon-with-text .qodef-m-icon-holder svg {
    stroke: rgba(0, 22, 89, 1);
    stroke-width: 0px;
}

body .qodef-widget-block-f8eb94f7 .qi-block-icon-with-text .qi-block-divider:not(.qodef-separator--border-image) .qodef-m-line {
    border-style: solid;
}

body .qodef-widget-block-f8eb94f7 .qi-block-icon-with-text .qodef-separator--border-image .qodef-m-line {
    background-size: auto;
    background-position: left;
    background-repeat: round;
}

body .qodef-widget-block-63627922 .qi-block-icon-with-text .qodef-m-title {
    color: rgba(0, 22, 89, 1);
    font-family: 'Yantramanav';
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    margin-top: 1px;
}

body .qodef-widget-block-63627922 .qi-block-icon-with-text:hover .qodef-m-title {
    color: rgba(255, 94, 20, 1);
}

body .qodef-widget-block-63627922 .qi-block-icon-with-text .qodef-m-icon-wrapper {
    margin-top: 12px;
}

body .qodef-widget-block-63627922 .qi-block-icon-with-text .qodef-m-icon-holder {
    font-size: 17px;
    color: rgba(0, 22, 89, 1);
}

body .qodef-widget-block-63627922 .qi-block-icon-with-text .qodef-m-icon-holder svg {
    stroke: rgba(0, 22, 89, 1);
    stroke-width: 0px;
}

body .qodef-widget-block-63627922 .qi-block-icon-with-text .qi-block-divider:not(.qodef-separator--border-image) .qodef-m-line {
    border-style: solid;
}

body .qodef-widget-block-63627922 .qi-block-icon-with-text .qodef-separator--border-image .qodef-m-line {
    background-size: auto;
    background-position: left;
    background-repeat: round;
}

body .qodef-widget-block-cd95ab54.qodef-block-container {
    margin-top: -8px;
    margin-bottom: -20px;
}

body .qodef-widget-block-cd95ab54 .qi-block-icon-with-text .qodef-m-title {
    font-weight: 400;
}

body .qodef-widget-block-cd95ab54 .qi-block-icon-with-text .qodef-m-content>.qodef-m-text {
    font-family: 'Yantramanav';
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    margin-top: 0px;
}

body .qodef-widget-block-cd95ab54 .qi-block-icon-with-text .qodef-m-content>.qodef-m-text a:hover {
    color: rgba(255, 94, 20, 1);
}

body .qodef-widget-block-cd95ab54 .qi-block-icon-with-text .qodef-m-icon-wrapper {
    margin-top: 5px;
}

body .qodef-widget-block-cd95ab54 .qi-block-icon-with-text .qodef-m-icon-holder {
    color: rgba(255, 254, 254, 1);
}

body .qodef-widget-block-cd95ab54 .qi-block-icon-with-text .qodef-m-icon-holder svg {
    stroke: rgba(0, 0, 0, 0);
    stroke-width: 1px;
}

body .qodef-widget-block-cd95ab54 .qi-block-icon-with-text .qi-block-divider:not(.qodef-separator--border-image) .qodef-m-line {
    border-style: solid;
}

body .qodef-widget-block-cd95ab54 .qi-block-icon-with-text .qodef-separator--border-image .qodef-m-line {
    background-size: auto;
    background-position: left;
    background-repeat: round;
}

body .qodef-widget-block-fbd63e10.qodef-block-container {
    width: 240px;
    max-width: 240px;
    margin-bottom: -16px;
}

body .qodef-widget-block-fbd63e10 .qi-block-icon-with-text .qodef-m-content>.qodef-m-text {
    font-family: 'Yantramanav';
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    margin-top: 0px;
}

body .qodef-widget-block-fbd63e10 .qi-block-icon-with-text .qodef-m-content>.qodef-m-text a:hover {
    color: rgba(255, 94, 20, 1);
}

body .qodef-widget-block-fbd63e10 .qi-block-icon-with-text .qodef-m-icon-wrapper {
    margin-top: 5px;
}

body .qodef-widget-block-fbd63e10 .qi-block-icon-with-text .qodef-m-icon-holder {
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
}

body .qodef-widget-block-fbd63e10 .qi-block-icon-with-text .qodef-m-icon-holder svg {
    stroke: rgba(255, 255, 255, 0);
    stroke-width: 1px;
}

body .qodef-widget-block-fbd63e10 .qi-block-icon-with-text .qi-block-divider:not(.qodef-separator--border-image) .qodef-m-line {
    border-style: solid;
}

body .qodef-widget-block-fbd63e10 .qi-block-icon-with-text .qodef-separator--border-image .qodef-m-line {
    background-size: auto;
    background-position: left;
    background-repeat: round;
}

body .qodef-widget-block-5366406c .qi-block-icon-with-text .qodef-m-content>.qodef-m-text {
    font-family: 'Yantramanav';
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    margin-top: 0px;
}

body .qodef-widget-block-5366406c .qi-block-icon-with-text .qodef-m-content>.qodef-m-text a:hover {
    color: rgba(255, 94, 20, 1);
}

body .qodef-widget-block-5366406c .qi-block-icon-with-text .qodef-m-icon-wrapper {
    margin-top: 5px;
}

body .qodef-widget-block-5366406c .qi-block-icon-with-text .qodef-m-icon-holder {
    color: rgba(255, 255, 255, 1);
}

body .qodef-widget-block-5366406c .qi-block-icon-with-text .qodef-m-icon-holder svg {
    stroke-width: 1px;
}

body .qodef-widget-block-5366406c .qi-block-icon-with-text .qi-block-divider:not(.qodef-separator--border-image) .qodef-m-line {
    border-style: solid;
}

body .qodef-widget-block-5366406c .qi-block-icon-with-text .qodef-separator--border-image .qodef-m-line {
    background-size: auto;
    background-position: left;
    background-repeat: round;
}

body .qodef-widget-block-ae319f5c .qi-block-icon-with-text .qodef-m-content>.qodef-m-text {
    font-family: 'Yantramanav';
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    margin-top: 0px;
}

body .qodef-widget-block-ae319f5c .qi-block-icon-with-text .qodef-m-content>.qodef-m-text a:hover {
    color: rgba(255, 94, 20, 1);
}

body .qodef-widget-block-ae319f5c .qi-block-icon-with-text .qodef-m-icon-wrapper {
    margin-top: 5px;
}

body .qodef-widget-block-ae319f5c .qi-block-icon-with-text .qodef-m-icon-holder {
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
}

body .qodef-widget-block-ae319f5c .qi-block-icon-with-text .qodef-m-icon-holder svg {
    stroke: rgba(0, 0, 0, 0);
    stroke-width: 1px;
}

body .qodef-widget-block-ae319f5c .qi-block-icon-with-text .qi-block-divider:not(.qodef-separator--border-image) .qodef-m-line {
    border-style: solid;
}

body .qodef-widget-block-ae319f5c .qi-block-icon-with-text .qodef-separator--border-image .qodef-m-line {
    background-size: auto;
    background-position: left;
    background-repeat: round;
}

body .qodef-widget-block-80f1f1b4 .qi-block-icon-with-text .qodef-m-content>.qodef-m-text {
    font-family: 'Yantramanav';
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    margin-top: 0px;
}

body .qodef-widget-block-80f1f1b4 .qi-block-icon-with-text .qodef-m-content>.qodef-m-text a:hover {
    color: rgba(255, 94, 20, 1);
}

body .qodef-widget-block-80f1f1b4 .qi-block-icon-with-text .qodef-m-icon-wrapper {
    margin-top: 4px;
}

body .qodef-widget-block-80f1f1b4 .qi-block-icon-with-text .qodef-m-icon-holder {
    font-size: 18px;
    color: rgba(255, 254, 254, 1);
}

body .qodef-widget-block-80f1f1b4 .qi-block-icon-with-text .qodef-m-icon-holder svg {
    stroke: rgba(0, 0, 0, 0);
    stroke-width: 1px;
}

body .qodef-widget-block-80f1f1b4 .qi-block-icon-with-text .qi-block-divider:not(.qodef-separator--border-image) .qodef-m-line {
    border-style: solid;
}

body .qodef-widget-block-80f1f1b4 .qi-block-icon-with-text .qodef-separator--border-image .qodef-m-line {
    background-size: auto;
    background-position: left;
    background-repeat: round;
}

body .qodef-widget-block-a82857b7.qodef-block-container {
    margin-bottom: -10px;
}

body .qodef-widget-block-a82857b7 .qi-block-icon-with-text .qodef-m-content>.qodef-m-text {
    font-family: 'Yantramanav';
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    margin-top: 0px;
}

body .qodef-widget-block-a82857b7 .qi-block-icon-with-text .qodef-m-content>.qodef-m-text a:hover {
    color: rgba(255, 94, 20, 1);
}

body .qodef-widget-block-a82857b7 .qi-block-icon-with-text .qodef-m-icon-wrapper {
    margin-top: 6px;
}

body .qodef-widget-block-a82857b7 .qi-block-icon-with-text .qodef-m-icon-holder {
    font-size: 18px;
    color: rgba(255, 254, 254, 1);
}

body .qodef-widget-block-a82857b7 .qi-block-icon-with-text .qodef-m-icon-holder svg {
    stroke: rgba(0, 0, 0, 0);
    stroke-width: 1px;
}

body .qodef-widget-block-a82857b7 .qi-block-icon-with-text .qi-block-divider:not(.qodef-separator--border-image) .qodef-m-line {
    border-style: solid;
}

body .qodef-widget-block-a82857b7 .qi-block-icon-with-text .qodef-separator--border-image .qodef-m-line {
    background-size: auto;
    background-position: left;
    background-repeat: round;
}

body .qodef-widget-block-7f56c795.qodef-block-container {
    margin-bottom: -10px;
}

body .qodef-widget-block-7f56c795 .qi-block-icon-with-text .qodef-m-content>.qodef-m-text {
    font-family: 'Yantramanav';
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    margin-top: 0px;
}

body .qodef-widget-block-7f56c795 .qi-block-icon-with-text .qodef-m-content>.qodef-m-text a:hover {
    color: rgba(255, 94, 20, 1);
}

body .qodef-widget-block-7f56c795 .qi-block-icon-with-text .qodef-m-icon-wrapper {
    margin-top: 6px;
}

body .qodef-widget-block-7f56c795 .qi-block-icon-with-text .qodef-m-icon-holder {
    font-size: 18px;
    color: rgba(255, 254, 254, 1);
}

body .qodef-widget-block-7f56c795 .qi-block-icon-with-text .qodef-m-icon-holder svg {
    stroke: rgba(0, 0, 0, 0);
    stroke-width: 1px;
}

body .qodef-widget-block-7f56c795 .qi-block-icon-with-text .qi-block-divider:not(.qodef-separator--border-image) .qodef-m-line {
    border-style: solid;
}

body .qodef-widget-block-7f56c795 .qi-block-icon-with-text .qodef-separator--border-image .qodef-m-line {
    background-size: auto;
    background-position: left;
    background-repeat: round;
}

body .qodef-widget-block-afd73b6e.qodef-block-container {
    margin-bottom: -20px;
}

body .qodef-widget-block-afd73b6e .qi-block-icon-with-text .qodef-m-content>.qodef-m-text {
    font-family: 'Yantramanav';
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    margin-top: 0px;
}

body .qodef-widget-block-afd73b6e .qi-block-icon-with-text .qodef-m-content>.qodef-m-text a:hover {
    color: rgba(255, 94, 20, 1);
}

body .qodef-widget-block-afd73b6e .qi-block-icon-with-text .qodef-m-icon-wrapper {
    margin-top: 6px;
}

body .qodef-widget-block-afd73b6e .qi-block-icon-with-text .qodef-m-icon-holder {
    font-size: 18px;
    color: rgba(255, 254, 254, 1);
}

body .qodef-widget-block-afd73b6e .qi-block-icon-with-text .qodef-m-icon-holder svg {
    stroke: rgba(0, 0, 0, 0);
    stroke-width: 1px;
}

body .qodef-widget-block-afd73b6e .qi-block-icon-with-text .qi-block-divider:not(.qodef-separator--border-image) .qodef-m-line {
    border-style: solid;
}

body .qodef-widget-block-afd73b6e .qi-block-icon-with-text .qodef-separator--border-image .qodef-m-line {
    background-size: auto;
    background-position: left;
    background-repeat: round;
}


.woocommerce form .form-row .required {
    visibility: visible;
}


img.wp-smiley,
img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 0.07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}

/*! This file is auto-generated */
.wp-block-button__link {
    color: #fff;
    background-color: #32373c;
    border-radius: 9999px;
    box-shadow: none;
    text-decoration: none;
    padding: calc(.667em + 2px) calc(1.333em + 2px);
    font-size: 1.125em
}

.wp-block-file__button {
    background: #32373c;
    color: #fff;
    text-decoration: none
}




.side_menu_slide_from_right .side_menu {
    padding: 6.4% 65px 36px;
    width: 420px;
}

.header_bottom {

    padding: 0;

}



header .header_inner_left {

    left: 0;

}


img {

    vertical-align: middle;

}

.qodef-qi-team-member .qodef-e-social-icon svg {
    width: 1em;
    height: 1em;
}

.qode-accordion-holder .qode-title-holder .qode-tab-title .qode-tab-title-icon {

    display: none;

}



.qode-accordion-holder .qode-title-holder .qode-tab-title {

    height: auto;

}



.qode-accordion-holder .qode-title-holder {

    padding: 30px 20px 18px 50px;

    background-color: transparent;

    border-top: 1px solid #e8e8e9;

    will-change: padding;

    transition: .2s;

    position: relative;

}



.qode-accordion-holder .qode-title-holder.ui-state-active {

    padding: 30px 20px 0 50px;

    background-color: #fff !important;

}






.qode-accordion-holder .qode-accordion-content.ui-accordion-content-active {

    background-color: #fff;

}



.qode-accordion-holder .qode-title-holder.ui-state-hover {

    background-color: transparent;

}



.qode-accordion-holder .qode-title-holder:first-child {

    border-top: none;

}



.qode-accordion-holder .qode-title-holder .qode-accordion-mark {

    right: 20px;

    top: 23px;

    border-radius: 2px;

    font-size: 20px;

    width: 50px;

    height: 50px;

    transition: background-color .5s cubic-bezier(.49, .79, .17, .94), color .5s cubic-bezier(.49, .79, .17, .94);

}



.qode-accordion-holder .qode-title-holder.ui-state-hover .qode-accordion-mark,
.qode-accordion-holder .qode-title-holder.ui-state-active .qode-accordion-mark {

    background-color: #ff5e14;

    color: #fff;

}

.q_price_table {

    border: none;

    color: #001659;

    font-family: Yantramanav, sans-serif;

    vertical-align: middle;

    float: none;

    display: inline-block;

}



.q_price_table .price_table_inner {

    background-color: #fff;

    border: 1px solid #e8e8e9;

    border-bottom: 4px solid #ff5e14;

}



.q_price_table.active {

    color: #fff;

}



.q_price_table.active .price_table_inner {

    background-color: #00235a;

    border: 1px solid #00235a;

    border-bottom: 4px solid #00235a;

    padding: 20px 0;

}



.q_price_table.active .qode_title_content_new {

    color: #fff;

}



.q_price_table.active .active_text {

    display: none;

}



.q_price_table.active .price_table_inner>ul {

    padding: 0;

    margin: 0;

}



.price_table_inner ul li {

    text-align: left;

}



.price_in_table {

    text-align: left;

    position: relative;

    display: inline-block;

}



.price_table_inner ul li.pricing_table_content li {

    padding: 0;

    font-size: 18px;

    line-height: 34px;

    letter-spacing: 0;

    font-weight: 400;

}



.price_table_inner ul li.pricing_table_content li:before {

    font-family: ElegantIcons;

    content: "\4e";

    font-size: 16px;

    margin: 5px 15px 0 0;

}



.price_in_table .price {

    font-size: 80px;

    line-height: 1em;

    letter-spacing: -.01em;

    font-weight: 800;

    padding: 0;

}



.price_in_table .value {

    font-size: 48px;

    line-height: 1em;

    font-weight: 600;

    position: relative;

    top: -1px;

}



.price_in_table .mark {

    font-size: 12px;

    line-height: 2.33em;

    letter-spacing: .1em;

    text-transform: uppercase;

    font-weight: 500;

    top: -6px;

}



.price_table_inner ul li.table_title {

    padding: 40px 80px 0;

}



.price_table_inner ul li.prices {

    padding: 20px 80px 12px;

}



.price_table_inner ul li.pricing_table_content {

    padding: 0 80px;

}



.price_table_inner .price_button {

    padding: 36px 80px 60px;

}

.page-id-6625.disabled_footer_top .footer_top_holder,
.page-id-6625.disabled_footer_bottom .footer_bottom_holder {
    display: none;
}

.price_button .qbutton {

    margin: 0;

    background-color: #ff5e14 !important;

    padding: 0 39px;

    font-weight: 500;

    border-radius: 2px;

    height: 48px;

    line-height: 48px;

    color: #fff;

    border: none;

    font-family: Yantramanav, sans-serif;

    font-size: 16px;

    font-weight: 500;

    letter-spacing: 0.32px;

    text-transform: none;

}



.price_button .qbutton:hover {

    color: #fff;

}


@media only screen and (min-width: 481px) and (max-width: 1000px) {

    .qode_clients.four_columns .qode_client_holder {

        width: 25%;

    }

}

footer svg path {

    fill: currentColor !important;

}


.q_percentage {

    letter-spacing: -.02em;

    font-family: Yantramanav, sans-serif;

    font-size: 0 !important;

}



.q_pie_chart_holder .tocounter {

    font-size: 60px;

}



.q_pie_chart_holder .tocounter:after {

    content: '%';

    position: relative;

    top: -15px;

    font-size: 36px;

}

figure {

    margin: 0;

}



.footer_bottom .q_social_icon_holder .fa-stack {

    margin: -1px 0 0 -1px;

    height: 79px;

    line-height: 80px;

    width: 70px;

}

.comment_holder .comment_number .comment_number_inner>h5,
div.comment_form .comment-respond>h5 {

    margin: 0;

    font-size: 40px;

    font-family: Yantramanav, sans-serif;

    line-height: 1.15em;

    text-transform: none;

    letter-spacing: 0;

}



.comment_holder .comment {

    padding: 0;

    display: flex;

    gap: 30px;

}



.comment_holder .comment .image {

    flex-shrink: 0;

    border-radius: 0;

}



.comment_holder .comment .text {

    padding: 0;

}



.comment_holder .comment .text .name {

    font-size: 26px;

    line-height: 1.15em;

    font-weight: 600;

    text-transform: none;

    font-family: 'Yantramanav';

    letter-spacing: 0;

    margin: 0 0 8px;

}



.comment_holder .comment .text .comment_date {

    display: none;

}



.comment_holder .comment .text .comment-reply-link,
.comment_holder .comment .text .replay {

    padding: 0;

    font-size: 16px;

    text-transform: capitalize;

    letter-spacing: .02em;

    font-weight: 500;

    font-family: Yantramanav, sans-serif;

    color: #001659;

    transition: color .1s ease-in-out;

    margin: 0 0 7px;

    display: inline-block;

}



.comment_holder .comment-list li ul.children {

    padding: 0 0 0 60px;

    margin: 27px 0 0;

}



#respond input[type=text],
#respond input[type=email],
#respond textarea,
.contact_form input[type=text],
.contact_form textarea {

    margin: 0 0 25px;

    color: #001659;

    background-color: transparent;

    border-top: none;

    border-left: none;

    border-right: none;

    border-bottom: 1px solid #e8e8e9;

    border-radius: 0;

    outline: 0;

    cursor: pointer;

    box-sizing: border-box;

    transition: border-color .2s ease-in-out;

    padding: 19px 16px 12px 0;

    font-size: 26px;

    line-height: 1.15em;

    font-weight: 600;

    font-family: Yantramanav, sans-serif;

}



#respond input[type=text]::placeholder,
#respond input[type=email]::placeholder,
#respond textarea::placeholder,
.contact_form input[type=text]::placeholder,
.contact_form textarea::placeholder {

    color: #2b3651 !important;

    font-size: 14px;

    letter-spacing: .1em;

    text-transform: uppercase;

    font-weight: 400;

}



#respond input[type=text]:focus,
#respond input[type=email]:focus,
#respond textarea:focus,
.contact_form input[type=text]:focus,
.contact_form textarea:focus {

    color: #001659;

    border-color: #ff5e14;

}



div.comment_form form p.form-submit,
div.comment_holder .comment p.form-submit {

    text-align: left;

}



div.comment_form form p.form-submit #submit_comment,
div.comment_holder .comment p.form-submit #submit_comment {

    background-color: #ff5e14;

    border: none;

    border-radius: 2px;

    color: #fff;

    height: 48px;

    font-size: 16px;

    text-transform: none;

    letter-spacing: 0;

    font-weight: 400;

    padding: 0 50px;

}



div.comment_form .comment-form-cookies-consent {

    margin: 0 0 20px;

}

.title .text_above_title {

    margin: 0 0 4px;

}



.subtitle {

    margin: 15px 0 0;

}

.portfolio_single h3 {

    text-transform: none;

}



.portfolio_detail .info>h6,
.portfolio_detail .info>span,
.portfolio_detail .info>p,
.portfolio_detail .info>a {

    font-size: 14px;

    font-family: Yantramanav, sans-serif;

    letter-spacing: .1em;

    font-weight: 500;

    line-height: 1em;

    color: #565969;

    text-transform: uppercase;

}



.portfolio_detail .info {

    display: flex;

    gap: 7px;

    padding: 0;

    margin: 0 0 15px;

}



.portfolio_detail .info>h6:after {

    content: ':';

}



.portfolio_single .flexslider {

    margin: 0 0 60px;

}



.portfolio_navigation .portfolio_next a,
.portfolio_navigation .portfolio_prev a {

    border-radius: 2px;

    background-color: #00235a;

    border-color: #00235a;

    color: #fff;

    width: 44px;

    height: 44px;

    line-height: 44px;

}



.portfolio_navigation .portfolio_next a:hover,
.portfolio_navigation .portfolio_prev a:hover {

    background-color: #ff5e14;

    border-color: #ff5e14;

    color: #fff;

}



.portfolio_detail {

    display: flex;

    flex-direction: column;

}



.portfolio_detail>* {

    order: 3;

}



.portfolio_detail>h6 {

    order: 1;

    font-family: Yantramanav, sans-serif;

    font-size: 40px;

    text-transform: none;

    color: #001659;

    margin: 0 0 14px;

}



.portfolio_detail>.portfolio_content {

    order: 2;

    margin: 0 0 40px;

}

.qode_portfolio_related .projects_holder.v4 .mix {

    width: 32%;

    margin: 0 0 2.4%;

}



.qode_portfolio_related .projects_holder article .portfolio_description {

    background-color: transparent;

    text-align: left;

    display: flex;

    flex-direction: column-reverse;

}



.qode_portfolio_related .projects_holder article .portfolio_description .project_category {

    font-family: Yantramanav, sans-serif;

    font-size: 12px;

    line-height: 2.33em;

    letter-spacing: .1em;

    text-transform: uppercase;

    font-weight: 500;

    color: #565969;

}



.qode_portfolio_related .projects_holder article .portfolio_description .portfolio_title,
.qode_portfolio_related .projects_holder article .portfolio_description .portfolio_title a {

    font-size: 26px;

    line-height: 1.15em;

    font-weight: 600;

    font-family: Yantramanav, sans-serif;

    text-transform: none;

    letter-spacing: 0;

}



.qode_portfolio_related>h4 {

    font-size: 40px;

    text-align: left;

    line-height: 1;

    margin: 107px 0 25px;

    padding: 0;

}

.portfolio_slider_holder {

    overflow: hidden;

}



.portfolio_slider {

    margin: 0 -15px !important;

    width: auto;

    overflow: hidden;

}



.portfolio_slider .portfolio_slides>li {

    padding: 0 15px;

}



.portfolio_slides .hover_feature_holder {

    position: relative;

}



.portfolio_slides .hover_feature_holder_inner {

    opacity: 1;

    display: flex;

    flex-direction: column;

    justify-content: flex-start;

    align-items: flex-start;

    padding: 17px 0 0;

}



.portfolio_slider .image_holder .separator.small.transparent {

    display: none;

}



.portfolio_slides .hover_feature_holder_inner>* {

    order: 2;

}



.portfolio_slides .hover_feature_holder_inner>.project_category {

    order: 1;

    font-size: 12px;

    letter-spacing: .1em;

    font-family: 'Yantramanav', sans-serif;

    text-transform: uppercase;

    margin: 0 0 4px;

}



.portfolio_slides .hover_feature_holder_inner .qbutton {

    margin: 27px 0 0;

    background-color: transparent;

    border: none;

    padding: 0;

    font-size: 16px;

    font-weight: 500;

    font-family: Yantramanav, sans-serif;

    letter-spacing: .02em;

    text-transform: capitalize;

}



.portfolio_slides .hover_feature_holder_inner .qbutton:hover {

    color: #fff;

}


.latest_post_holder.boxes>ul>li .latest_post {

    background-color: #fff;

    padding: 20px 34px 48px;

    background-color: #fff;

    border: 1px solid #e8e8e9;

    border-bottom: 4px solid #ff5e14;

}



.latest_post_holder.boxes>ul>li .latest_post .latest_post_text_inner {

    display: flex;

    flex-direction: column-reverse;

}



.latest_post_inner .post_infos {

    font-size: 12px;

    line-height: 2.33em;

    letter-spacing: .1em;

    text-transform: uppercase;

    font-weight: 500;

    color: #565969;

    font-family: 'Yantramanav';

}



.latest_post_holder.boxes>ul>li .latest_post_inner {

    margin: 0 !important;

}



.latest_post_holder.boxes .boxes_image a:hover {

    transform: none;

}


.blog_holder article {

    margin: 0 0 58px;

}



.blog_holder article .post_text .post_text_inner {

    display: flex;

    flex-direction: column;

}



.blog_holder article .post_text .post_text_inner>* {

    order: 3;

}



.blog_holder article .post_text .post_text_inner>h2 {

    order: 2;

    margin: 0 0 20px;

}



.blog_holder article .post_text .post_text_inner>.post_info {

    order: 1;

    margin: 0;

}



.blog_holder article .post_more .qbutton {

    font-size: 16px;

    font-family: Yantramanav, sans-serif;

    letter-spacing: .02em;

    margin-top: 2px;

    text-transform: none;

    font-weight: 500;

    padding: 0;

    border: none;

    color: #001659;

}



.blog_holder article .post_more .qbutton:hover {

    background-color: transparent;

}



.blog_holder.blog_large_image article.format-link .post_info,
.blog_holder.blog_large_image article.format-quote .post_info {

    display: none;

}



.blog_holder article.format-quote .post_text .post_text_inner {

    padding: 51px 26px 51px 39px;

    display: flex;

    align-items: flex-start;

    flex-direction: row;

    gap: 10px;

}



.blog_holder article.format-quote .post_text i.qoute_mark {

    margin: 0;

}



.blog_holder article.format-link .post_text i.link_mark {

    color: #ff5e14;

    margin: 0;

}



.blog_holder article.format-link .post_text .post_title,
.blog_holder article.format-quote .post_text .post_title {

    padding: 0;

}



article.format-quote .post_text .quote_author::first-letter {

    font-size: 0;

    line-height: 0;

}



body:not(.search-results) .blog_holder article.format-quote .post_text:hover .post_text_inner {

    background-color: #ff5e14 !important;
    ;

}



.blog_holder article.format-link .post_text .post_text_inner {

    padding: 50px 40px 121px;

    background-color: #00235a;

    display: flex;

    align-items: flex-start;

    flex-direction: row;

    gap: 20px;

}



body:not(.search-results) .blog_holder article.format-link .post_text:hover .post_text_inner {

    background-color: #00235a !important;

}



.blog_holder article.format-link .post_text .post_title p,
.blog_holder article.format-link .post_text .post_title p a {

    color: #fff;

}



body:not(.search-results) .blog_holder article.format-link .post_text:hover .post_text_inner .post_title p,
body:not(.search-results) .blog_holder article.format-link .post_text:hover .post_text_inner .post_title p a {

    color: #ff5e14;

}



body:not(.search-results) .blog_holder article.format-link .post_text:hover i.link_mark {

    color: #ff5e14 !important;

}



.pagination ul li a,
.pagination ul li span {

    margin: 0 7px;

    letter-spacing: .1em;

    font-weight: 500;

    font-size: 16px;

    font-weight: 500;

    line-height: 48px;

    font-family: Yantramanav, sans-serif;

    border: none;

}


.wpcf7-form div .qode-form-required-label {

    font-size: 14px;

    line-height: 28px;

    font-weight: 500;

    color: #ff5e14
}

.breadcrumb a:hover {

    color: #001659;

}


.blog_holder.blog_single article .post_text .post_text_inner {

    display: flex;

    flex-direction: column;

}



.blog_holder.blog_single article .post_text .post_text_inner>* {

    order: 3;

}



.blog_holder.blog_single article .post_text .post_text_inner>h2 {

    order: 2;

    margin: 0 0 15px;

}



.blog_holder.blog_single article .post_text .post_text_inner>.post_info {

    order: 1;

    margin: 0;

}



.blog_holder.blog_single article h2 {

    font-size: 60px;

    line-height: .96em;

    letter-spacing: -.02em;

    font-weight: 600;

    text-transform: none;

}



blockquote {

    padding: 57px 40px 60px 40px;

    font-size: 18px;

    line-height: 30px;

    box-sizing: border-box;

    border: 1px solid #e8e8e9;

    border-bottom: 4px solid #ff5e14;

}



.single_tags .tags_text>h5 {

    display: none;

}

div.comment_form {

    margin: 0 0 150px;

}



@media only screen and (max-width: 480px) {

    .comment_holder .comment {

        flex-direction: column;

    }


}

.pagination {

    margin: 0 0 143px;

}


aside .widget.posts_holder li {

    padding: 1px 0;

}

.qode_portfolio_related {

    margin: 0 0 37px;

}

.blog_holder.blog_single article.format-link .post_text .post_text_inner>.post_info,
.blog_holder.blog_single article.format-quote .post_text .post_text_inner>.post_info {

    display: none;

}



.blog_single.blog_holder article.format-link .post_text .post_text_inner {

    padding: 60px 40px;

    background-color: #00235a;

    display: flex;

    align-items: flex-start;

    flex-direction: row;

    gap: 20px;

}



.blog_single.blog_holder article.format-quote .post_text .post_text_inner {

    padding: 60px 40px;

    display: flex;

    align-items: flex-start;

    flex-direction: row;

    gap: 20px;

}



.blog_holder article.format-quote .post_text .post_title>p {

    margin: 0;

}


.header_top {

    border-bottom: 1px solid #e8e8e9;

    padding: 0 30px;

    box-sizing: border-box;

    height: 40px;

    line-height: 40px;

}



.header_top * {

    line-height: 40px;

}


.q_logo,
.q_logo a {

    height: 80% !important;
    padding-left: 14px !important;

}

@media only screen and (max-width: 480px) {

    .footer_top .column_inner>div:not(.qode_separator_widget) {

        margin: 0 !important;

    }

}

@media only screen and (max-width: 480px) {

    .blog_holder article.format-link .post_text .post_text_inner,
    .blog_holder article.format-quote .post_text .post_text_inner {

        flex-direction: column;

    }

}

@media only screen and (max-width: 768px) {

    .title .text_above_title {

        display: block;

    }



    .title .subtitle {

        display: none;

    }

}

.portfolio_slider .caroufredsel-direction-nav {

    display: flex;

    align-items: flex-start;

    padding: 0 15px;

    gap: 20px;

    flex-direction: column-reverse;
    ;

}



.portfolio_slider .caroufredsel-prev,
.portfolio_slider .caroufredsel-next {

    position: relative;

    left: auto;

    right: auto;

    margin: 0;

    top: auto;

    height: 48px;

    line-height: 48px;

    border-radius: 0;

    width: 140px;

    border: none;

}



.portfolio_slider .caroufredsel-next,
.portfolio_slider .caroufredsel-next:hover {

    background-color: #ff5e14 !important;

}



.portfolio_slider .caroufredsel-next:hover i,
.portfolio_slider .caroufredsel-prev:hover i {

    color: #fff !important;

}



.portfolio_slider .caroufredsel-prev,
.portfolio_slider .caroufredsel-prev:hover {

    background-color: #09316f !Important;

}


aside.sidebar .q_social_icon_holder.normal_social:first-of-type {

    margin-left: 0;

}

aside.sidebar .latest_post_image {

    width: 60px;

}



aside.sidebar .latest_post_holder.image_in_box .latest_post_text .latest_post_title,
aside.sidebar .latest_post_holder.image_in_box .latest_post_text .latest_post_title a {

    margin: 0;

    font-family: Yantramanav, sans-serif;

    font-size: 20px;

    font-weight: 600;

    line-height: 20px;

    text-transform: none;

    letter-spacing: 0;

}



aside.sidebar .latest_post_inner .post_infos {

    font-family: Yantramanav, sans-serif;
    ;

    font-size: 14px;

    line-height: 2em;

    letter-spacing: .1em;

    font-weight: 500;

    color: #565969;

    text-transform: uppercase;

}



aside.sidebar .latest_post_holder.image_in_box .latest_post_text {

    padding: 8px 0 0 82px;

}

.widget .wp-block-tag-cloud a,
aside.sidebar .widget.widget_block .wp-block-tag-cloud a {

    padding: 11px 24px;

    margin-right: 10px;

    margin-bottom: 14px;

}



.widget .tagcloud a:after,
.widget .wp-block-tag-cloud a:after {

    display: none;

}

.right_side_menu_opened .wrapper,
.right_side_menu_opened footer.uncover {

    right: 0;

}

.qode_portfolio_related .projects_holder article span.text_holder {

    display: none;

}



.qode_portfolio_related .projects_holder article .image_holder:hover .image img {

    transform: scale(1);

}



.qode_portfolio_related .projects_holder article .portfolio_description .project_category {

    color: #565969 !important;

}

@media only screen and (max-width: 1000px) {

    .header_inner_right {

        display: none;

    }



    .mobile_menu_button {

        float: right;

        margin: 0;

    }



    .logo_wrapper,
    .q_logo a {

        left: 0;

    }

}


@media only screen and (max-width: 1024px) {

    nav.main_menu>ul>li>a {

        padding: 0 12px;

    }

}

.side_menu_button .qode-side-menu-button-svg svg path,
.side_menu_button .qode-side-menu-button-svg svg>* {

    stroke: none;

}



.side_menu_button>a {

    display: flex;

    width: auto;

    height: 100%;

    align-items: center;

}



.mobile_menu_button span:hover,
.side_menu_button>a:hover,
header:not(.with_hover_bg_color) nav.main_menu>ul>li:hover>a {

    opacity: 1;

}

@media only screen and (max-width: 1000px) {

    .footer_top .four_columns>.column3>.column_inner {

        padding-left: 0;

    }



    .footer_top .four_columns .column3 .column_inner>div,
    .footer_top .three_columns .column3 .column_inner>div {

        margin: 0;

    }



    body.qode_advanced_footer_responsive_1000 .four_columns .column3,
    body.qode_advanced_footer_responsive_1000 .four_columns .column4 {

        margin: 60px 0 0
    }



    .footer_bottom_holder .three_columns>.column1,
    .footer_bottom_holder .three_columns>.column2,
    .footer_bottom_holder .three_columns>.column3 {

        width: 100%;

        float: none;

    }



    .footer_bottom_columns .footer_bottom {

        text-align: center !important;
        ;

    }



    .footer_bottom_columns .wp-block-image img {

        margin: 0 auto;

    }



    .footer_bottom_columns .column_inner {

        padding: 0 !important;

    }



    .footer_bottom_columns .footer_bottom p {

        margin: 0 0 22px;

    }

}


@media only screen and (max-width: 1000px) {

    .mobile_menu_button {

        height: 70px;

    }



    .mobile_menu_button span {

        display: flex;

        width: auto;

    }



    .mobile_menu_button span svg {

        stroke: none;

    }



    nav.mobile_menu ul {

        padding-top: 2px;

        padding-bottom: 5px;

    }



    nav.mobile_menu ul li,
    nav.mobile_menu ul li ul li {

        border-bottom: 1px solid #e8e8e9;

    }



    nav.mobile_menu ul li:last-child {

        border-bottom: 1px solid #e8e8e9 !important;

    }

}



@media only screen and (max-width: 480px) {

    nav.mobile_menu>ul {

        width: 300px;

    }

}

.right_side_menu_opened .wrapper,
.right_side_menu_opened footer.uncover {

    left: 0;

}

.side_menu svg path {

    fill: currentColor !important;

}

.portfolio_slider .caroufredsel-direction-nav {

    margin: 73px 0 0;

}


@media only screen and (max-width: 480px) {

    .qode_portfolio_related .projects_holder.v4 .mix {

        width: 100%;

        margin: 0 0 20px;

    }

}


@media only screen and (min-width: 1441px) {

    .footer_bottom .q_social_icon_holder .fa-stack {

        width: 79px;

    }

}

.side_menu a.close_side_menu.qode-side-menu-close-svg svg {

    stroke: none;

}

#back_to_top span i,
#back_to_top span span {

    position: relative;

    top: 3px;

}


.portfolio_slides li:hover .image_pixel_hover {

    background-color: rgba(0, 22, 89, .4);

}



.portfolio_slider .portfolio_slides li.item:hover img {

    transform: none;

}


.portfolio_slides .hover_feature_holder_inner {

    padding: 21px 0 0;

}


.portfolio_slides .hover_feature_holder_inner .portfolio_title {

    text-transform: NONE;

}

@media only screen and (min-width: 481px) and (max-width: 768px) {

    .qode_clients.four_columns .qode_client_holder {

        width: 50%;

    }

}


.header_bottom:before {

    content: '';

    position: absolute;

    left: 0;

    bottom: 0;

    height: 1px;

    width: 100%;

    background-color: #e8e8e9;

}

@media only screen and (max-width: 480px) {

    .qode-accordion-holder .qode-title-holder,
    .qode-accordion-holder .qode-title-holder.ui-state-active,
    .qode-accordion-holder .qode-accordion-content {

        padding-left: 25px !important;
        ;

    }

}

@media only screen and (max-width: 480px) {

    footer .container_inner {

        width: 300px;

        padding: 0;

    }

}

@media only screen and (max-width: 600px) {

    body.qode_advanced_footer_responsive_1000 .four_columns .column2,
    body.qode_advanced_footer_responsive_1000 .four_columns .column3 {

        margin-top: 24px;

    }

}

header:not(.sticky):not(.scrolled) .header_bottom,
header.fixed_top_header .bottom_header {

    border: none;

}


.comment_holder {

    padding: 125px 0 94px;

}



div.comment_form form p.logged-in-as {

    margin-top: 17px;

}



#respond small {

    margin: 0;

}



div.comment_form .comment-respond>h5 {

    margin: 0 0 -4px;

}



div.comment_form {

    margin: 0 0 140px;

}



div.comment_form .comment-form-cookies-consent input {

    margin-right: 8px;

}



div.comment_form .comment-form-cookies-consent {

    margin: 4px 0 32px;

}


@media only screen and (max-width: 768px) {

    div.comment_form {

        padding-top: 0;

        border: none;

    }

}


@media only screen and (min-width: 769px) and (max-width: 1024px) {

    aside.sidebar {

        width: 50%;

    }

}



@media only screen and (max-width: 1024px) {

    aside.sidebar {

        margin: 0 0 126px;

    }

}


.single_tags a {

    padding: 11px 24px;

    margin-right: 10px;

}

.price_table_inner ul li.prices {

    padding-top: 12px;

}



.price_table_inner ul li.pricing_table_content li {

    color: #565969;

}



.active .price_table_inner ul li.pricing_table_content li {

    color: #fff;

}


@media only screen and (max-width: 1024px) {

    .price_table_inner ul li.table_title,
    .price_table_inner ul li.prices,
    .price_table_inner ul li.pricing_table_content,
    .price_table_inner .price_button {

        padding-left: 25px;

        padding-right: 25px;

    }

}



@media only screen and (max-width: 768px) {

    .qode_pricing_tables.three_columns .q_price_table {

        width: 100%;

        margin: 0 0 20px;

    }

}


@media only screen and (max-width: 480px) {

    .price_table_inner ul li.table_title,
    .price_table_inner ul li.prices,
    .price_table_inner ul li.pricing_table_content,
    .price_table_inner .price_button {

        padding-left: 40px;

        padding-right: 40px;

    }

}

.single_tags {

    margin-bottom: -14px;

}



.single_tags a {

    margin-bottom: 14px;

}


.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-text,
.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-number,
.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-date,
.cf7_custom_style_1 textarea.wpcf7-form-control.wpcf7-textarea,
.cf7_custom_style_1 select.wpcf7-form-control.wpcf7-select,
.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-quiz {

    color: #001659;

    font-family: Yantramanav;

    font-size: 24px;

    font-style: normal;

    font-weight: 500;

    letter-spacing: 2px;

    text-transform: capitalize;

}


input.wpcf7-form-control.wpcf7-date,
input.wpcf7-form-control.wpcf7-number,
input.wpcf7-form-control.wpcf7-quiz,
input.wpcf7-form-control.wpcf7-text,
select.wpcf7-form-control.wpcf7-select,
textarea.wpcf7-form-control.wpcf7-textarea {

    padding: 15px 0;

}

.q_pie_chart_holder .tocounter {

    position: relative;

    top: 2px;

}

.side_menu_slide_from_right .side_menu {

    transition: all 0.9s cubic-bezier(.77, 0, .175, 1) !important;

}

.qode-accordion-holder .qode-title-holder {

    padding-top: 25px;

    padding-bottom: 23px;

}



.qode-accordion-holder .qode-title-holder.ui-state-active {

    padding-top: 25px;

}

header.sticky .logo_wrapper,
header.sticky.centered_logo .logo_wrapper {

    height: 70px !important;

}



.dark.sticky nav.main_menu>ul>li.active>a,
.dark.sticky nav.main_menu>ul>li>a,
.dark.sticky nav.main_menu>ul>li>a:hover,
.light.sticky nav.main_menu>ul>li.active>a,
.light.sticky nav.main_menu>ul>li>a,
.light.sticky nav.main_menu>ul>li>a:hover,
header.sticky nav.main_menu>ul>li>a {

    line-height: 70px;

}



header.sticky .header_bottom {

    box-shadow: -1px 1px 10px 0 rgba(38, 59, 98, .1);

}


aside.sidebar .latest_post_holder>ul>li {

    margin: 0 !important;

}

.comment_holder .comment_number {

    display: block;

}

.blog_holder article.format-quote,
.blog_holder article.format-link {

    margin: 0 0 100px;

}


.author_description {

    padding: 0;

}



.author_description_inner .image {

    border-radius: 0;

}



.author_text_holder .author_name {

    font-size: 26px;

    line-height: 1.15em;

    font-weight: 600;

    text-transform: none;

    letter-spacing: 0;

}



.author_text_holder .author_email {

    display: none;

}


div.comment_form {

    margin: 0 0 130px
}

.comment_holder {

    padding-top: 93px;

    padding-bottom: 106px;

}

.comment_holder .comment .text .name {

    color: #001659;

}



.author_description {

    margin-top: 60px;

}



.author_text_holder {

    padding-right: 11%;

}



@media only screen and (max-width: 480px) {

    .author_text_holder {

        padding-right: 0;

    }

}


@media only screen and (max-width: 480px) {

    .author_text_holder {

        padding-top: 30px;

    }

}

.q_pie_chart_holder .tocounter {

    left: 12px;

}



.right_side_menu_opened .wrapper,
.right_side_menu_opened .wrapper header.fixed,
.right_side_menu_opened .wrapper header.fixed_hiding,
.right_side_menu_opened .wrapper header.fixed_top_header .top_header,
.right_side_menu_opened .wrapper header.sticky {

    left: 0;

}
